<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styles/cart_style.css">
    <title>Košarica</title>
</head>
<body>
    
    <div class="ikone">
        <div class="logo">
            <img src="/images/my_logo.jpg" alt="">
        </div>
        <div>
            <a href="/home">
                Trgovina
            <i class="fa fa-store"></i>
            </a>
        </div>
        <div>
            Kontakt 
        <i class="fa fa-phone"></i>
        </div>
        <div>
            Novine
        <i class="fa fa-newspaper"></i>
        </div>
        <div>
            Pretplati se 
        <i class="fa fa-bell"></i>
        </div>
    </div>
    <div class="kosarica">
        Košarica
    </div>
    <div class="main">
        <div class="natpisi">
            <div>NAZIV PROIZVODA</div>
            <div>KOLIČINA</div>
        </div>
        <div id = "product_list" class="product_list">
            
        </div>
    </div>

    <script src="/scripts/cartApp.js" type="module"></script>
</body>
</html>