<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/style.css">
    <title>MYKEA</title>
</head>
<body>
    <div class="logo">
        <img src="/images/my_logo.jpg" alt="">
    </div>
    <div id="tr_kat" class="trenutna_kategorija"> 
        Dobrodošli u MYKEA-u
    
    </div>
    <div class="kosarica">
        <div>
            <a href="/cart"><i class="fa fa-cart-shopping"></i></a>
            <label id = "sum" class="sum">0</label>
        </div>
        <div>
            <i class="fa fa-search"></i>
        </div>
        
    </div>


    <div class="sidebar">
        <div class="kategorije">
            <ul style="list-style-type: none;" id="kategorije_lista">
                
            </ul>
        </div>
        <div class="dodatno">
            <div>
                Kontakt 
            <i class="fa fa-phone"></i>
            </div>
            <br>
            <div>
                Novine
            <i class="fa fa-newspaper"></i>
            </div>
            <br>
            <div>
                Pretplati se 
            <i class="fa fa-bell"></i>
            </div>
            <br>
        </div>
    </div>

    <div id="main" class="main">
        Odaberite kategoriju proizvoda
    </div>

    

    <div class="pozz">
        <img src="/images/scena.jpg" id = "pozdravna_scena">
    </div> 
    
    



    <script src="/scripts/app.js" type="module"></script>
    
</body>
</html>